{% extends 'login_page/base.html' %}
{% load static%}

{% block content %}

<header>
    <h1>Sign-up</h1>
</header>
<section id="section1">
    <form action="" method="POST">
        {% csrf_token %}
        
        {{form.as_p}}
        
        <div id="button-wrapper" >
            <input type="submit" id="submit-button">
        </div>
        
        
    </form>  
    <p id ="forgot-password"> <a href="">Forgot password</a></p> 
</section>


<h4> <a href="">Sign up</a> </h4>
{% endblock content %}
